.App {
  min-height: 100vh;
  /*text-align: center;*/
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  display: flex;
}

.list {
  margin: 0;
}

.link {
  color: #b318f0;
}

/* brand:  #b845cf */
/* bg:  #181818 */
