.title {
  text-decoration: underline;
  margin: 20px 10px;
}

.title:hover {
  text-decoration: none;
}

.header {
  font-family: monospace;
  display: flex;
  flex-direction: row;
}

.updateField {
  margin: 20px 10px;
}
